LibSourceCodes/
tool/

build_n_move.sh

#Java
.gradle/
build/
run/
bin/
logs/

#Logs
gametest_*
*.log

#AI Develop
.spec-workflow
.agent
.eclipse
.serena
agent_workflow.py
agent_assignments.json

#IDE
.settings
.classpath
.project